@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}
.container {
	/*width: 1000px;
	margin: 0 auto;*/
}
.head {
	height: 50px;
	background-color: #eee; 
}
.head ul {
	list-style: none;
	width: 1200px;
	margin: 0 auto;
}
.head ul li {
	display: block;
	float: left;
	width: 20%;
	line-height: 50px;
	text-align: center;
}
.head ul li:first-child {
	background: #ccc;
}
.content {
	width: 1200px;
	margin: 0 auto;
	min-height: 500px;
}

.footer {
	text-align: center;
}
